<div class='bg-white dark:bg-darkgrey md:border-b-2 md:border-b-light md:dark:border-b-dark fixed w-full flex items-center justify-between p-4 md:p-0 md:px-4 py-6 md:py-0 z-10 md:z-0'>

    <div class='flex items-center gap-4 md:gap-20'>
    <div class='md:hidden'>
        <img src="/assets/Images/logo-mobile.svg" alt="logo-mobile">
    </div>

    <div class='hidden md:block'>
        <img [src]="logoSrc" alt="logo">
    </div>

    <div class='flex items-center gap-2 md:gap-6'>
        <div class='h-20 w-[1px] bg-light dark:bg-dark hidden md:block'></div>

        <p class='text-black dark:text-white font-bold'>Platform Launch</p>
        <button class="md:hidden mt-1" (click)="toggleMenu()">
            <img [src]="isMenuOpen ? '/assets/Images/icon-chevron-up.svg' : '/assets/Images/icon-chevron-down.svg'" alt="menu-toggle-icon">
        </button>

    </div>
    </div>

    <div class='flex items-center gap-4'>
        <button (click)="openAddTaskModal()" class="bg-purple rounded-[30px] flex justify-center items-center gap-2 text-white py-3 px-6 md:px-4 font-bold text-[12px]">
            <img src="/assets/Images/icon-add-task-mobile.svg" alt="icon plus" class="flex justify-center items-center">
            <span class="hidden md:block lg:text-md">Add new Task</span>
        </button>

        <button>
            <img src="/assets/Images/icon-vertical-ellipsis.svg" alt="menu" class="flex justify-center items-center">
        </button>
    </div>
</div>