
<div *ngIf="isModalOpen | async" (click)="onOverlayClick($event)"
class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white dark:bg-darkgrey rounded-lg w-[500px] max-w-[90%]">
      <ng-container *ngIf="modalData$ | async as data">
        <ng-container [ngSwitch]="data.type">

         <div *ngSwitchCase="'addBoard'" class='p-6 max-h-[90vh] overflow-y-auto scrollbar-hidden'>
            <h2 class="text-xl dark:text-white text-black font-bold mb-4">Add New Board</h2>
            <form class='space-y-4'>
          
        <div class='space-y-2'>
          <label for="boardname" class="text-mediumgrey dark:text-white font-semibold ">Board Name</label>
          <div class="relative">
              <input type="text" id="boardname" class="w-full dark:bg-darkgrey outline-none text-black focus:border-purple px-4 py-2 rounded-md border border-grey dark:border-dark dark:text-white" placeholder='e.g. Web Design'/>  
              <!-- <p class="absolute right-4 top-4 text-red text-xs " >Can't be empty</p> -->
          </div>
        </div>

        <div class='space-y-3'>
          <label for="boardcolumn" class="text-mediumgrey dark:text-white font-semibold ">Board Columns</label>

          <div class='flex items-center gap-4 w-full'>
            <div class="relative w-[96%]">
              <input type="text" id="boardcolumn" class="w-full dark:bg-darkgrey text-black outline-none  focus:border-purple px-4 py-2 rounded-md border border-grey dark:border-dark dark:text-white"/>  
              <!-- <p class="absolute right-4 top-4 text-red text-xs " >Can't be empty</p> -->
            </div>
            <div class='w-[4%] flex justify-end'>
              <img src="/assets/Images/icon-cross.svg" alt="icon cross">
            </div>
          </div>

          <div class='flex items-center gap-4 w-full'>
              <div class="relative w-[96%]">
                <input type="text" id="boardcolumn2" class="w-full dark:bg-darkgrey text-black outline-none focus:border-purple px-4 py-2 rounded-md border border-grey dark:border-dark dark:text-white"/>  
                <!-- <p class="absolute right-4 top-4 text-red text-xs " >Can't be empty</p> -->
              </div>
              <div class='w-[4%] flex justify-end'>
                <img src="/assets/Images/icon-cross.svg" alt="icon cross">
              </div>
            </div>

          <button class="w-full bg-[#F4F7FD] hover:bg-[#f5f2f7] rounded-[30px] flex justify-center items-center text-purple py-3 px-6 font-bold text-[12px]">
              <span class="lg:text-md">+ Add New Column</span>
          </button>
        </div>

        <button class="w-full bg-purple hover:bg-purplehover rounded-[30px] flex justify-center items-center text-white py-3 px-6 font-bold text-[12px]">
          <span class="lg:text-md">Create New Board</span>
        </button>

            </form>
         </div>

         <div *ngSwitchCase="'addTask'" class='max-h-[90vh] overflow-y-auto scrollbar-hidden p-6'>
          <h2 class="text-xl dark:text-white text-black font-bold mb-4">Add New Task</h2>
          <form class='space-y-4'>
          
        <div class='space-y-2'>
          <label for="title" class="text-mediumgrey dark:text-white font-semibold ">Title</label>
          <div class="relative">
              <input type="text" id="title" class="w-full dark:bg-darkgrey outline-none text-black focus:border-purple px-4 py-2 rounded-md border border-grey dark:border-dark dark:text-white" placeholder='e.g. Take coffee break'/>  
              <!-- <p class="absolute right-4 top-4 text-red text-xs " >Can't be empty</p> -->
          </div>
        </div>

        <div class='space-y-2'>
          <label for="description" class="text-mediumgrey dark:text-white font-semibold ">Description</label>
          <div> 
              <textarea id="description" placeholder='e.g. It is always good to take a break. This 15 minute break will  recharge the batteries a little'
               class="w-full dark:bg-darkgrey h-[120px] text-black outline-none focus:border-purple px-4 py-2 rounded-md border border-grey dark:border-dark dark:text-white"></textarea>
          </div>
        </div>

        <div class='space-y-3'>
          <label for="subtasks" class="text-mediumgrey dark:text-white font-semibold ">Subtasks</label>

          <div class='flex items-center gap-4 w-full'>
            <div class="relative w-[96%]">
              <input type="text" id="subtasks" class="w-full dark:bg-darkgrey text-black outline-none  focus:border-purple px-4 py-2 rounded-md border border-grey dark:border-dark dark:text-white"/>  
              <!-- <p class="absolute right-4 top-4 text-red text-xs " >Can't be empty</p> -->
            </div>
            <div class='w-[4%] flex justify-end'>
              <img src="/assets/Images/icon-cross.svg" alt="icon cross">
            </div>
          </div>

          <div class='flex items-center gap-4 w-full'>
              <div class="relative w-[96%]">
                <input type="text" id="subtasks2" class="w-full dark:bg-darkgrey text-black outline-none focus:border-purple px-4 py-2 rounded-md border border-grey dark:border-dark dark:text-white"/>  
                <!-- <p class="absolute right-4 top-4 text-red text-xs " >Can't be empty</p> -->
              </div>
              <div class='w-[4%] flex justify-end'>
                <img src="/assets/Images/icon-cross.svg" alt="icon cross">
              </div>
            </div>

          <button class="w-full bg-[#F4F7FD] hover:bg-[#f5f2f7] rounded-[30px] flex justify-center items-center text-purple py-3 px-6 font-bold text-[12px]">
              <span class="lg:text-md">+ Add New Subtask</span>
          </button>
        </div>

        <div class='space-y-3'>
          <label for="status" class="text-mediumgrey dark:text-white font-semibold ">Status</label>
          <select id='status' class="w-full dark:bg-darkgrey text-black outline-none px-4 py-2 rounded-md border border-grey dark:border-dark dark:text-white focus:border-purple">
              <option value="todo">Todo</option>
              <option value="doing">Doing</option>
              <option value="done">Done</option>
            </select>
        </div>

        <button class="w-full bg-purple hover:bg-purplehover rounded-[30px] flex justify-center items-center text-white py-3 px-6 font-bold text-[12px]">
          <span class="lg:text-md">Create Task</span>
        </button>

          </form>
         </div>

          <div *ngSwitchCase="'addColumn'">
            <h2 class="text-xl font-semibold mb-4">Add New Column</h2>
            <form>
            </form>
          </div>

          <div *ngSwitchCase="'taskDetails'" class='max-h-[90vh] overflow-y-auto scrollbar-hidden p-6 space-y-6'>
            <div class='flex justify-between items-center gap-6'>
                <p class='text:black dark:text-white font-bold'>Research pricing points of various competitors and trial different business models</p>
                <button>
                    <img src="/assets/Images/icon-vertical-ellipsis.svg" alt="menu" class="flex justify-center items-center">
                </button>
            </div>
    
            <p class='text-mediumgrey text-sm'>We know what we're planning to build for version one. Now we need to finalise the first pricing model we'll use. Keep iterating the subtasks until we have a coherent proposition.</p>
    
            <div class='space-y-3'>
                <p class='text-mediumgrey dark:text-white font-bold'>Subtasks (2 of 3)</p>
    
                <div class="flex items-center gap-4 bg-lightgrey dark:bg-verydarkgrey p-4 rounded">
                    <input type="checkbox" id="task1"
                    class="w-6 h-6 border border-grey rounded bg-white dark:bg-darkBlue peer appearance-none checked:bg-purple dark:checked:bg-purple checked:border-transparent checked:after:content-['✓'] checked:after:text-white checked:after:text-sm checked:after:flex checked:after:items-center checked:after:justify-center">
                    <label for="task1" class="text-dark font-semibold dark:text-white">Research competitor pricing and business models</label>
                </div>
    
                <div class="flex items-center gap-4 bg-lightgrey dark:bg-verydarkgrey p-4 rounded">
                    <input type="checkbox" id="task2"
                    class="w-6 h-6 border border-grey rounded bg-white dark:bg-darkBlue peer appearance-none checked:bg-purple dark:checked:bg-purple checked:border-transparent checked:after:content-['✓'] checked:after:text-white checked:after:text-sm checked:after:flex checked:after:items-center checked:after:justify-center">
                    <label for="task2" class="text-dark font-semibold dark:text-white">Outline a business model that works for our solution</label>
                </div>
    
                <div class="flex items-center gap-4 bg-lightgrey dark:bg-verydarkgrey p-4 rounded">
                    <input type="checkbox" id="task3"
                    class="w-6 h-6 border border-grey rounded bg-white dark:bg-darkBlue peer appearance-none checked:bg-purple dark:checked:bg-purple checked:border-transparent checked:after:content-['✓'] checked:after:text-white checked:after:text-sm checked:after:flex checked:after:items-center checked:after:justify-center">
                    <label for="task3" class="text-dark font-semibold dark:text-white">Surveying and testing</label>
                </div>
            </div>
    
            <div class='space-y-3'>
                <label for="current-status" class="text-mediumgrey dark:text-white font-semibold ">Current Status</label>
                <select id='current-status' class="w-full dark:bg-darkgrey text-black outline-none px-4 py-2 rounded-md border border-grey dark:border-dark dark:text-white focus:border-purple">
                    <option value="todo">Todo</option>
                    <option value="doing">Doing</option>
                    <option value="done">Done</option>
                  </select>
            </div>
          </div>

          <div *ngSwitchCase="'deleteboard'" class='p-6'>
            <h2 class="text-xl text-red font-bold mb-4">Delete this board?</h2>
            <div class='space-y-6'>
              <p class='text-mediumgrey text-sm'>Are you sure you want to delete the 'Platform Launch' board? This action will remove all columns and tasks and cannot be reversed.</p>
      
              <button class='bg-red hover:bg-redhover text-white w-full py-3 rounded-[30px] font-semibold'>Delete</button><br>
              <button class='bg-[#F4F7FD] hover:bg-[#f5f2f7] text-purple w-full py-3 rounded-[30px] font-semibold'>cancel</button>
            </div>  
          </div>

          <div *ngSwitchCase="'deletetask'" class='p-6'>
            <h2 class="text-xl text-red font-bold mb-4">Delete this task?</h2>
            <div class='space-y-6'>
              <p class='text-mediumgrey text-sm'>Are you sure you want to delete the 'Platform Launch' board? This action will remove all columns and tasks and cannot be reversed.</p>
      
              <button class='bg-red hover:bg-redhover text-white w-full py-3 rounded-[30px] font-semibold'>Delete</button><br>
              <button class='bg-[#F4F7FD] hover:bg-[#f5f2f7] text-purple w-full py-3 rounded-[30px] font-semibold'>cancel</button>
            </div>  
          </div>

        </ng-container>
      </ng-container>
    </div>
  </div>
  