<div [class.md:ml-[250px]]="isLargeSidebarVisible" class="pt-[100px] min-h-screen  flex flex-col justify-center items-center space-y-4">
    <p class='text-mediumgrey font-bold text-center px-10'>This board is empty. Create a new column to get started.</p>

    <button (click)="openAddColumnModal()" class="bg-purple hover:bg-purplehover rounded-[30px] flex justify-center items-center gap-2 text-white py-3 px-6 md:px-4 font-bold text-[12px]">
        <span class="lg:text-md">+ Add new Column</span>
    </button>
  
</div>