 
  <div [class.md:ml-[250px]]="isLargeSidebarVisible" class="pt-[100px] px-6 flex gap-6 overflow-x-auto w-full bg-lightgrey dark:bg-verydarkgrey no-scrollbar">
    <div *ngIf="activeBoard$ | async as activeBoard; else noBoards" class="flex gap-6">
      <div *ngFor="let column of activeBoard.columns || []" class='w-[320px]'>
    
        <div class='flex items-center bg-slate- mb-4 gap-3'>
          <div class='h-4 w-4 rounded-full'
            [ngClass]="{
              'bg-lightblue': column.name === 'Todo' || column.name === 'Now',
              'bg-purple': column.name === 'Doing' || column.name === 'Next',
              'bg-lightgreen': column.name === 'Done' || column.name === 'Later',
              'bg-purplehover': !['Todo', 'Now', 'Doing', 'Next', 'Done', 'Later'].includes(column.name)
            }">
          </div>
          <h3 class='text-mediumgrey font-semibold'>{{ column.name }} ({{ column.tasks?.length || 0 }})</h3>

        </div>
        <ul>
          <li *ngFor="let task of column.tasks || []" (click)='openTaskDetails(task)' class='bg-white dark:bg-darkgrey shadow-lg rounded-md p-4 mb-4 cursor-pointer'>
            <p class='text-black dark:text-white font-bold text-sm mb-2'>{{ task.title }}</p>
            <p class='text-mediumgrey font-bold text-sm'>
              {{ getCompletedSubtasksCount(task.subtasks) }} of {{ task.subtasks.length }} Subtasks
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class='flex justify-center items-center bg-light dark:bg-darkgrey h-screen rounded-md mt-10 mb-6'>
      <button (click)="onNewColumnClick()" class='text-mediumgrey font-bold w-[250px]'>
        + New Column
      </button>
    </div>
  </div>
  
  <ng-template #noBoards>
    <div [class.md:ml-[250px]]="isLargeSidebarVisible" class="pt-[100px] min-h-screen flex flex-col justify-center items-center space-y-4">
      <p class='text-mediumgrey font-bold text-center px-10'>No board available. Create a new board to get started.</p>
    </div>
  </ng-template>
  

  <app-modal *ngIf="selectedTask && (modalService.modalType$ | async) === 'taskDetails'" [isModalOpen]="modalService.isModalOpen$">
    <div class='max-h-[90vh] overflow-y-auto scrollbar-hidden p-6 space-y-6 relative'>
      <div class='flex justify-between items-center gap-6'>
        <p class='text:black dark:text-white font-bold'>{{ selectedTask.title }}</p>
        <button (click)="openTaskmenuModal()">
          <img src="/assets/Images/icon-vertical-ellipsis.svg" alt="task-menu" class="flex justify-center items-center">
        </button>

        <div  *ngIf="isTaskMenuOpen" class='absolute top-[60px] shadow-lg right-0 bg-white dark:bg-verydarkgrey p-4 rounded-md w-40 space-y-4'>
          <div (click)="onEditTaskClick()">
              <p class='text-mediumgrey font-semibold cursor-pointer'>Edit task</p>
          </div>
          <div (click)="onDeleteTaskClick()">
              <p class='text-red font-semibold cursor-pointer'>Delete task</p>
          </div>
        </div>
      </div>
  
      <p class='text-mediumgrey text-sm'>{{ selectedTask.description }}</p>
  
      <div class='space-y-3'>
        <p class='text-mediumgrey dark:text-white font-bold'>
          Subtasks ({{ getCompletedSubtasksCount(selectedTask.subtasks) }} of {{ selectedTask.subtasks.length }})
        </p>
  
        <div *ngFor="let subtask of selectedTask.subtasks" class="flex items-center gap-4 bg-lightgrey dark:bg-verydarkgrey p-4 rounded">
          <input
            type="checkbox"
            [checked]="subtask.isCompleted"
            (change)="toggleSubtaskCompletion(subtask)"
            class="w-6 h-6 border border-grey rounded bg-white dark:bg-darkBlue peer appearance-none checked:bg-purple dark:checked:bg-purple checked:border-transparent checked:after:content-['✓'] checked:after:text-white checked:after:text-sm checked:after:flex checked:after:items-center checked:after:justify-center"
          />
  
          <label [class.line-through]="subtask.isCompleted" class="text-dark font-semibold dark:text-white">
            {{ subtask.title }}
          </label>
        </div>
      </div>
  
      <div *ngIf="activeBoard$ | async as activeBoard">
        <label for="current-status" class="text-mediumgrey dark:text-white font-semibold">Current Status</label>
        <select
          id='current-status'
          class="w-full dark:bg-darkgrey text-black outline-none px-4 py-2 rounded-md border border-grey dark:border-dark dark:text-white focus:border-purple"
          [(ngModel)]="selectedTask.status">
          
          <option *ngFor="let column of activeBoard.columns" [value]="column.name">
            {{ column.name }}
          </option>
        </select>
      </div> 
    </div>
  </app-modal>

  <app-modal *ngIf="(modalService.modalType$ | async) === 'deleteTask'" [isModalOpen]="modalService.isModalOpen$">
    <div class='p-6'>
        <h2 class="text-xl text-red font-bold mb-4">
            Delete this task?
        </h2>
        <div class='space-y-6'>
            <p class='text-mediumgrey text-sm'>
                Are you sure you want to delete the '{{ selectedTask?.title }}'? This action cannot be reversed.
            </p>
            <div class='flex gap-2'>
                <button (click)="onConfirmDeleteTask()" class='bg-red hover:bg-redhover text-white w-full py-3 rounded-[30px] font-semibold'>
                    Delete
                </button>
                <button (click)="cancelDeleteTask()" class='bg-[#F4F7FD] hover:bg-[#f5f2f7] text-purple w-full py-3 rounded-[30px] font-semibold'>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</app-modal>
